.Card {
    max-width: 305px;
    min-width: 305px;
    height: 460px;
    background-color: #EB5E0B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3% 3% 3% 3%;
    border-radius: 5%;
    justify-content: center;
    align-content: center;

    font-family: gba;
    font-size: x-large;
    color: whitesmoke;
    border: 2px solid transparent;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.Img {
    width: 310px;
    height: 230px;
    border-radius: 5%;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Card:hover {
    border: 2px solid transparent;
    cursor: pointer;
    height: 470px;
}

.cardDiv {
    border-radius: 10%;
}

.wordsCard{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.demotext {
    color: whitesmoke;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    margin-bottom: 10px;
    margin-top: 10px;
    }

.cardTypes {
    /* width: 100%; */
    /* display: flex; */
}

.infoCards {
    height: 230px;
}

.eachTypeCard {
    margin: auto;
}