.mainCreate {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'gba';
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    row-gap: 20px;
}

.FormDiv {
    margin-top: 5%;
}

.InputsCreate{
    display: flex;
    flex-direction: column;
    column-gap: 1%;
    margin-top: 2%;
    margin-left: 40%;
    justify-content: flex-end;
    height: 30px;
}

.InputsCreate label {
    align-self: flex-start;
    margin-bottom: 3px;
    font-size: 20px;
}

.typeInputs {
    display: flex;
    flex-direction: row;
    width: 180px;
}

.sInput {
    margin-top: 2%;
}

.Options {
    width: 100%;
}

.ErrorCreate {
    color: red;
    display: flex;
    position: fixed;
    left: 110px;
}

.buttonCreate {
    height: 40px;
    position: fixed;
    font-family: gba;
    font-size: large;
    border: 0xp solid transparent;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    width: 190px;
    left: 327px;
    top: 668px;
}

.formPrincipal {
    display: flex;
    flex-direction: row;
}

#formTitle {
    width: 400px;
}

#formTypes {
    width: 400px;
}

#formImage {
    width: 400px;
}

#formSummary {
    width: 400px;
    height: 130px;
    resize: none;
    margin-top: 0px;
}

#formSummary input {
    height: 100px;
}

#formSpoon {
    width:195px;
}

#formHealth {
    width:195px;
    position: fixed;
    right: 1400px;
    top: 584px;
}

#formSteps {
    width: 400px;
    height: 130px;
    margin-top: 0px;
}

.scoresFrom {
    display: flex;
    flex-direction: row;
}

.textareaSummary {
    height: 200px;
}

.newRecipe {
    margin-right: 1500px;
    margin-bottom: 50px;
}

.showStats {
    border: 1px solid black;
    width: 1200px;
    height: 640px;
    position: fixed;
    left: 600px;
    bottom: 200px;
    border-radius: 10px;
}

.showImageNSummary{
    display: flex;
    flex-direction: row;
    
    overflow-wrap: break-word;
}

.showScores {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.showTypes {
    display: flex;
    flex-direction: column;
    height: 100px;
    text-align: left;
}

.showScoreNTypes {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.typesShowedEach {
    width: 300px;
    margin: auto;
    margin-left: 20px;
}

.showSteps {
    width: 790px;
    flex-wrap: nowrap;
    margin: auto;
    overflow-wrap: break-word;
    text-align: left;
    margin-left: 100px;
    margin-top: -10px;
    max-height: 260px;
    overflow: hidden;
}

.showScoreNTypesWithSteps {
    display: flex;
    flex-direction: row;
}

.showImage {
    border-radius: 5px;
    margin-left: 20px;
}

.showTitle {
    display: flex;
    margin-left: 20px;
}

.showSummary {
    margin-left: 20px;
    text-align: left;
    max-height: 300px;
    overflow: hidden;
}