.mainDetail {
    /* padding-top: 10%; */
    display: flex;
    justify-content: center;
    height: 60%;
    font-family: gba;
}

.bigCard {
    background-color: #F8F1F1;
    width: 1500px;
    height: 800px;
    border-radius: 10px;
    border: 0px solid #2e2e2e;
    box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.51);
}

.imgDetail{
    /* width: 70%; */
    display: flex;
    align-self: center;
    box-shadow: black;
    margin-right: 1000px;
    border-radius: 2px;
    margin-top: 100px;
}

.specImg {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.imgDetailDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 1%;
}

.detailedInfo {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* margin-top: 3%; */
}

.allDet {
    /* width: 375px; */
    position: fixed;
    left: 11%;
    top: 9%;
    z-index: 999;
}

.darken {
    position: fixed;
    background-color: black;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -5000;
}

.stats {
    margin-bottom: 4%;
    max-width: 255px;
    display: flex;
    flex-direction: row;
}

.closeBut {
    display: flex;
    position:absolute;
    left: 0;
    width: 1.3%;
    align-content: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 30%;
    border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.closeBut:hover {
    color: #F8F1F1;
    transition-duration: 300ms;
   background-color: rgb(187, 0, 0);
}

.closeBut:active {
    background-color:rgb(151, 0, 0) ;
}

.pokeNameDet {
    margin-top: 3%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: #2e2e2e;
    width: auto;
    position: fixed;
    left: 300px;
}

.pokeTypeDet {
    margin-bottom: 100%;
    margin-right: 70%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: #2e2e2e;
    text-align: left;
    margin-left: 60px;
    max-width: 390px;
}

.chart {
    background-color: yellowgreen;
    max-width: 255px;
    min-width: 1px;
    display: flex;
    margin-left: 5%;
    height: 5%;
    border-radius: 2%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: #2e2e2e;
}

.contChart {
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
}

.statHP {
    position: fixed;
    top: 200px;
    width: 50%;
    left: 36%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
text-align: left;
}

.statForce {
    position: fixed;
    left: 30%;
    bottom: 40%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
}

.statDefense {
    position: fixed;
    left: 30%;
    bottom: 37%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
}

.statSpeed {
    position: fixed;
    left: 40%;
    bottom: 16%;
    width: 50%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
}

.statWeight {
    position: fixed;
    left: 46.9%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
}

.statHeight {
    position: fixed;
    left: 46.6%;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
color: #2e2e2e;
}