.MainDiv {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding-top: 3%;
    margin-left: 250px;
}

.Recipes {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 161px; */
    flex-direction:row;
    column-gap: 1%;
    /* width: 70%; */
    margin-top: -1%;
}

.pageMarkers {
    border: 1px solid black;
}

.Font {
    font-family: gba;
    font-size: small;
    height: 30px;
    border: 1px solid transparent;
    background-color: #4C4C6D;
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 0.5px 0.5px 2px rgba(0,0,0,.5);
}

.optionsHome {
    background-color: whitesmoke;
    color: #EB5E0B;
    font-size: 13px;
    font-weight: bold;
}

.notFound {
    display: flex;
    margin-top: 100%;
    margin-left: 200%;
}

.loadingHome {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    left: -200px;
    flex-direction: column;
    align-content: center;
    font-family: gba;
    position: fixed;
    /* height: 300px; */
}

.loadingBar {
    /* height: 200px;
    width: 200px; */
    position: fixed;
    margin-top: 30%;
    /* margin-left: 12%; */
}

.loadingWords {
    position: fixed;
    left: 122px;
    top: 820px;
}

select {
    cursor: pointer;
}

option {
    cursor: pointer;
}

.selectHome {
/* position: fixed; */
    margin-left: 76%;
    display: flex;
    margin-top: -2%;
    position: fixed;
}