.Landing {
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.ibb.co/py2DzDx/good-food-wallpaper-3840x2160.jpg');
    background-size: cover;
    background-position-y: -50px;
    display: flex;
    flex-direction: column;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 12%;
}

@font-face {
    font-family: 'gba';
    src: url(Flexo-Medium.woff);
    font-style: normal;
    font-weight: 100;
  }

.Title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5%;
    color: white;
    font-size: x-large;
    /* -webkit-text-stroke: 1px #FFFFFF; */
    display: flex;
    margin-left: 40%;
    justify-content: center;
    flex-direction: column;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 20px 20px rgba(0,0,0,.15);
}

.landingTitle {
 position: relative;
 top: 0;
 margin: auto;
 display: flex;
 transition: top 0.3s;
 margin-left: 0.2%;
 color: black;
}

.landingTitle:hover {
    top: -5px;
    cursor: pointer;
    /* text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4bdbff, 0 0 30px #4bdbff, 0 0 40px #4bdbff, 0 0 55px #4bdbff, 0 0 75px #4bdbff; */
    /* color: #FFFFFF; */
}

.hideTitle{
    color: transparent;
    -webkit-text-stroke: 1px transparent;
    cursor: default;
}

.eachWord {
    display: flex;
    margin-left: 0.8%;
    letter-spacing: 4px;
}

.ButtonDiv {
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: 10%;
    width: 10%;
    margin-left: 50%;
    position: fixed;
}

.Button {
    border-radius: 5px;
    font-family: gba;
    font-size: 40px;
    height: 100%;
    width: 100%;
    border: 0px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Button:hover {
    width: 90px;
    height: 90px;
    transition-duration: 400ms;
    font-size: 0px;
    border: 0px solid transparent;
}

.Button:hover:after {
    content: '⇶';
    font-size: 40px;
    border: 0px solid transparent;
}


