.SidebarDiv {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    padding-bottom: 1.5%;
    background-color: #e9e9e9;
    border-radius: 5px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.Filter {
    width: 1400px;
    display: flex;
    justify-content: space-evenly;
    /* align-content: space-between; */
}

.iconFilter {
    height: 50px;
    display: flex;
    align-self: center;
}

.divForFilter {
    /* background-color: yellow; */
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    font-family: gba;
    font-size: large;
    color: rgb(10, 10, 10);
}

.divForFilter:hover {
    cursor: pointer;
    justify-content: flex-start;
    padding-left: 1%;
    transition-duration: 500ms;
    background-color: white;
    width: 157px;
    border-radius: 10px;
}

.divForFilter p {
    display: none;
}

.divForFilter:hover p {
    display: block;
}

.divForFilter2 {
    /* background-color: yellow; */
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    font-family: gba;
    font-size: large;
    color: rgb(10, 10, 10);
}

.divForFilter2:hover {
    cursor: pointer;
    justify-content: flex-start;
    padding-left: 1%;
    transition-duration: 500ms;
    background-color: white;
    width: 139px;
    border-radius: 10px;
}

.divForFilter2 p {
    display: none;
}

.divForFilter2:hover p {
    display: block;
}

.hiddenFilter {
    align-self: center;
    margin-left: 4%;
}