.SidebarDiv {
    width: 30vw;
    left: 60px;
    top: 99px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 50%;
    position: fixed;
    padding-bottom: 0.5%;
    background-color: #2e2e2e;
    max-width: 349px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.Filter {
    margin-left: 4%;
    margin-top: 4.5%;
    display: flex;
    font-family: gba;
    font-size: large;
}

.ButtonFilterTypes {
    height: 90%;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e0dfdc;
    border: 0.5px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ButtonFilterTypes:hover {
    transition-duration: 300ms;
}

.ButtonFilterTypes:active {
    transition-duration: 100ms;
    width: 18px;
    height: 18px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.ButtonFilterOther {
    width: 20px;
    border-radius: 50%;
    height: 90%;
    cursor: pointer;
    background-color: #e0dfdc;
    border: 0.5px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ButtonFilterOther:hover {
    transition-duration: 300ms;
}

.ButtonFilterOther:active {
    transition-duration: 100ms;
    width: 18px;
    height: 18px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.Filter2 {
    margin-left: 4%;
    display: flex;
    align-content: center; 
    font-family: gba;
    font-size: large;
    flex-direction: column;
}

.OriginalsNCreated {
    display: flex;
    margin-top: 5%;
}

.Label {
    margin-left: 3%;
    cursor: pointer;
    text-shadow: 0 -1px 0 #fff, 0 2px 2px #2e2e2e;
    color: #e0dfdc;
    font-size: 19.2px;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 2px;
    
}

.Label:hover {
    transition-duration: 300ms;
    margin-left: 3%;
    color: #EB5E0B;
    cursor: pointer;
    text-shadow: 0 -1px 0 #fff, 0 2px 2px #2e2e2e;
    color: #e0dfdc;
    letter-spacing: 5px;
}

.line {
    position: fixed;
    color: #fff;
    top: 818px;
    left: 225px;
    opacity: 50%;
}